<% content_for :plugins do %>
<link rel="stylesheet" href="/assets/plugins/fancybox/source/jquery.fancybox.css">
<link rel="stylesheet" href="/assets/css/effects.css">
<% end %>
<% content_for :scripts do %>
<script type="text/javascript" src="/assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<% end %>
<% content_for :script_init do %>
App.initFancybox();
<% end %>
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-20">
  <div class="container">
    <h1 class="color-green pull-left"><%= t('utilities.utilities') %></h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to t(:home), root_path %> <span class="divider">/</span></li>
      <li class="active"><%= t('utilities.utilities') %></li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
  <div class="row-fluid blog-page">
    <!-- Left Sidebar -->
    <div class="span9">
      <ul class="thumbnails">
        <% @utilities.each do |ut| %>
        <li class="span3">
          <div class="thumbnail-style">
            <a  class="fancybox-button zoomer" data-rel="fancybox-button" title="<%= ut.title + ' - ' + ut.description %>" href="<%= ut.avatar.url %>">
              <div class="overlay-zoom">
                <%= image_tag ut.avatar.url(:thumb) %>
                <div class="zoom-icon"></div>
              </div>
            </a>
            <h4><%= ut.title %></h4>
            <p><%= ut.description %> <!-- <a class="read-more" href="#">Read more</a></p> -->
          </div>
        </li>
        <% end %>
      </ul><!--/thumbnails-->
    </div><!--/span9-->

    <!-- Right Sidebar -->
    <div class="span3">
      <%= render 'layouts/right_side' %>
    </div><!--/span3-->
  </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->
