<div class="clients-page margin-bottom-20">
    <%= image_tag team_member.team_avatar.url %>
    <%#= image_tag 'profile1.jpg' %>
    <!--     <img src="assets/img/clients/orange_grey.jpg" alt="" />
    <img src="assets/img/clients/orange.jpg" class="img-colorful" alt="" /> -->

  <p>
    <h4><%= team_member.name %></h4>
    <%= team_member.about %>
    <hr>
    <p>
      <i class="icon-chevron-sign-right"></i> Phone: <%= team_member.phone? ? team_member.phone : "No information" %> |
      <i class="icon-chevron-sign-right"></i> Mobile: <%= team_member.mobile? ? team_member.mobile : "No information" %> |
      <i class="icon-chevron-sign-right"></i> Email: <%= team_member.email? ? team_member.email : "No information" %>
    </p>
  </p>
</div>
