<% content_for :script_init do %>
App.initSliders();
Index.initParallaxSlider();
<% end %>


<!--=== Slider ===-->
  <%= render 'welcome/index/carousel' %>
<!--=== End Slider ===-->

<!--=== Purchase Block ===-->
<div class="row-fluid purchase margin-bottom-30">
  <div class="container">
    <div class="span9">
      <span>NCCM GRUP - <%= t('main_page.moto') %>.</span>
<!--       <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat.</p> -->
    </div>
    <%= link_to completed_tasks_path, class: "btn-buy hover-effect" do %>
      <%= t('main_page.completed_tasks') %>
    <% end %>
  </div>
</div><!--/row-fluid-->
<!-- End Purchase Block -->

<!--=== Content Part ===-->
<div class="container">
  <!-- Service Blocks -->
  <div class="row-fluid">
    <div class="span4">
      <div class="service clearfix">
        <i class="icon-check-sign"></i>
        <div class="desc">
          <h4><%= t('main_page.experience') %></h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="service clearfix">
        <i class="icon-check-sign"></i>
        <div class="desc">
          <h4><%= t('main_page.professionalism') %></h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="service clearfix">
        <i class="icon-check-sign"></i>
        <div class="desc">
          <h4><%= t('main_page.quality') %></h4>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        </div>
      </div>
    </div>
  </div><!--/row-fluid-->
  <!-- //End Service Blokcs -->

  <!-- Recent Works -->
  <div class="headline"><h3><%= t('main_page.recent_tasks') %></h3></div>
  <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden"><img src="assets/img/carousel/2.jpg" alt="" /></div>
          <a class="btn-more hover-effect" href="#">detalii +</a>
        </div>
        <h3><a class="hover-effect" href="#">Soroca</a></h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden"><img src="assets/img/carousel/3.jpg" alt="" /></div>
          <a class="btn-more hover-effect" href="#">detalii +</a>
        </div>
        <h3><a class="hover-effect" href="#">Florești</a></h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden"><img src="assets/img/carousel/9.jpg" alt="" /></div>
          <a class="btn-more hover-effect" href="#">detalii +</a>
        </div>
        <h3><a class="hover-effect" href="#">Ungheni</a></h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden"><img src="assets/img/carousel/10.jpg" alt="" /></div>
          <a class="btn-more hover-effect" href="#">detalii +</a>
        </div>
        <h3><a class="hover-effect" href="#">Chișinău</a></h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
      </div>
    </li>
  </ul><!--/thumbnails-->
  <!-- //End Recent Works -->

  <!-- Information Blokcs -->
    <%#= render 'information_block.html.erb' %>
  <!-- //End Information Blokcs -->
  <!-- Our Clients -->
  <%= render 'layouts/our_clients' %>
  <!-- //End Our Clients -->
</div><!--/container-->
<!-- End Content Part -->
