<style type="text/css" media="screen">
/* <![CDATA[ */
  #map_canvas {
  height: 300px;
  width:910px;
  margin:auto;
}
#contact-wrapper {
	width:430px;
	border:1px solid #e2e2e2;
	background:#f1f1f1;
	padding:20px;
}
#contact-wrapper div {
	clear:both;
	margin:1em 0;
}
#contact-wrapper label {
	display:block;
	float:none;
	font-size:16px;
	width:auto;
}
form#contactform input {
	border-color:#B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;
	border-style:solid;
	border-width:1px;
	padding:5px;
	font-size:16px;
	color:#333;
}
form#contactform textarea {
	font-family:Arial, Tahoma, Helvetica, sans-serif;
	font-size:100%;
	padding:0.6em 0.5em 0.7em;
	border-color:#B7B7B7 #E8E8E8 #E8E8E8 #B7B7B7;
	border-style:solid;
	border-width:1px;
}
#message{width:395px;}
/* ]]> */
</style>
<%= javascript_include_tag "jquery.validate.min.js" %>
<script type="text/javascript">
  $(document).ready(function(){
	  $("#contactform").validate();
  });
</script>
<div class="main-box">
  <div class="extra-wrap">
    <h3>
      <cufon class="cufon cufon-canvas" alt="Welcome " style="width: 153px; height: 36px; ">
        <canvas width="181" height="44" style="width: 181px; height: 44px; top: -6px; left: -2px; "></canvas>
        <cufontext><%= t('Contacts') %></cufontext>
      </cufon>
    </h3>
  </div>
  <div class="clear"></div>
</div>
<div class="container_12 p3">
  <div class="box maxheight" style="height: 980px;">
    <div class="padding extra-wrap" style="padding:0;margin:0 0 20px 25px;border:1px solid grey;width:910px;height:300px;">
      <div id="map_canvas"></div>
    </div>
    <div class="padding extra-wrap" style="float:left;">
      <h6><%= t('Moldova') %>, <%= t('Ialoveni') %></h6>
      <h6><%= t('street') %></h6>
      <h6>mail: nccmgrup@gmail.com</h6>
      <h6><%= t('tel/fax') %>: 73-78-42</h6>
      <h6><%= t('director') %>: Chiriac Nicolae</h6>
      <h6>069150739</h6>
      <h6><%= t('inginer') %>: Igor Mihailov</h6>
      <h6>060200616</h6>
    </div>
    <div class="padding extra-wrap" style="padding:0;margin:0 50px 20px 0;border:1px solid grey;float:right;">
      <div id="contact-wrapper">
        <h1><%= t('Contact by mail') %></h1>
          <%= form_for :send_mail, :url => send_mail_path, :html => {:id => "contactform", :novalidate => 'novalidate', :method => :get} do |f| %>
          <div>
            <strong><%= f.label :name, t('Name')  %></strong>
            <%= f.text_field :name, :size  => 51, :id => "contactname",
                          :class => 'required', :required => true, :title => t("Your full name") %>
          </div>
          <div>
            <strong><%= f.label :email, t('Email')  %></strong>
              <%= f.email_field :email, :size  => 51, :id => "email", 
                          :class => 'required', :required => true, :title => t("Your email") %>
          </div>
          <div>
            <strong><%= f.label :subject, t('Subject')  %></strong>
              <%= f.text_field :subject, :size  => 51, :id => "subject",
                          :class => 'required', :required => true, :title => t("Subject") %>
          </div>
          <div>
            <strong><%= f.label :subject, t('Message')  %></strong>
              <%= f.text_area :subject, :size  => 51, :id => "message",
                          :class => 'required', :required => true, :title => "Message" %>
          </div>
              <%= f.submit raw(t('send')), :type => 'submit', :name => 'submit' %>
                <% end %>
        </div>
      </div>
    
  </div>
  <div class="clear"></div>
</div>
