<%= stylesheet_link_tag    "colorbox.css" %>
<%= javascript_include_tag "jquery.colorbox.js" %>
<style>
.group2{margin:5px;}
.group2 a {text-decoration:none;}
.group3{margin:5px;}
.group3 a {text-decoration:none;}
.group4{margin:5px;}
.group4 a {text-decoration:none;}
</style>
<script>
$(document).ready(function(){
  $(".group2").colorbox({rel:'group2', transition:"fade"});
  $(".group3").colorbox({rel:'group3', transition:"fade"});
  $(".group4").colorbox({rel:'group4', transition:"fade"});
});
</script>
<div class="main-box">
  <div class="extra-wrap">
    <h3>
      <cufon class="cufon cufon-canvas" alt="Welcome " style="width: 153px; height: 36px; ">
        <canvas width="181" height="44" style="width: 181px; height: 44px; top: -6px; left: -2px; "></canvas>
        <cufontext><%= t('Our equipment') %></cufontext>
      </cufon>
    </h3>
  </div>
  <div class="clear"></div>
</div>
<div class="gallery" style="margin:auto;width:680px;">

  <div id="gallery1" style="margin-top:30px;">
    <h6>Vermeer D16x20</h6>
    <a class="group2" href="/assets/d16x20/1.jpg">
      <%= image_tag ('d16x20/1t.jpg') %>
    </a>
    <a class="group2" href="/assets/d16x20/2.jpg">
      <%= image_tag ('d16x20/2t.jpg') %>
    </a>
    <a class="group2" href="/assets/d16x20/3.jpg">
      <%= image_tag ('d16x20/3t.jpg') %>
    </a>
    <a class="group2" href="/assets/d16x20/4.jpg">
      <%= image_tag ('d16x20/4t.jpg') %>
    </a>
    <a class="group2" href="/assets/d16x20/5.jpg">
      <%= image_tag ('d16x20/5t.jpg') %>
    </a>
    <a class="group2" href="/assets/d16x20/6.jpg">
      <%= image_tag ('d16x20/6t.jpg') %>
    </a>
  </div>

  <div id="gallery2" style="margin-top:30px;">
    <h6>Vermeer D33x40</h6>
    <a class="group3" href="/assets/d33x44/1.jpg">
      <%= image_tag ('d33x44/1t.jpg') %>
    </a>
    <a class="group3" href="/assets/d33x44/2.jpg">
      <%= image_tag ('d33x44/2t.jpg') %>
    </a>
    <a class="group3" href="/assets/d33x44/3.jpg">
      <%= image_tag ('d33x44/3t.jpg') %>
    </a>
    <a class="group3" href="/assets/d33x44/4.jpg">
      <%= image_tag ('d33x44/4t.jpg') %>
    </a>
    <a class="group3" href="/assets/d33x44/5.jpg">
      <%= image_tag ('d33x44/5t.jpg') %>
    </a>
    <a class="group3" href="/assets/d33x44/6.jpg">
      <%= image_tag ('d33x44/6t.jpg') %>
    </a>
  </div>

  <div id="gallery3" style="margin-top:30px;">
    <h6>Vermeer V-8550</h6>
    <a class="group4" href="/assets/v8550/1.jpg">
      <%= image_tag ('v8550/1t.jpg') %>
    </a>
    <a class="group4" href="/assets/v8550/2.jpg">
      <%= image_tag ('v8550/2t.jpg') %>
    </a>
    <a class="group4" href="/assets/v8550/3.jpg">
      <%= image_tag ('v8550/3t.jpg') %>
    </a>
    <a class="group4" href="/assets/v8550/4.jpg">
      <%= image_tag ('v8550/4t.jpg') %>
    </a>
  </div>
</div>
<div class="clear"></div>
