<style type="text/css" media="screen">
/* <![CDATA[ */
  #menu1{
    position:absolute;
    padding-top:19px;
    margin:87px 0 0 220px;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    height:60px;
    width:125px;
    word-break:hyphenate;
  }
  #menu1 a{text-decoration:none;color:black;}
  #menu1 a:hover{color:grey;}
  #menu2{
    position:absolute;
    padding-top:19px;
    margin:87px 0 0 85px;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    height:60px;
    width:125px;
    word-break:hyphenate;
  }
  #menu2 a{text-decoration:none;color:black;}
  #menu2 a:hover{color:grey;}
  #menu3{
    position:absolute;
    padding-top:5px;
    margin:193px 0 0 15px;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    width:125px;
    height:60px;
    word-break:hyphenate;
  }
  #menu3 a{text-decoration:none;color:black;}
  #menu3 a:hover{color:grey;}
  #menu4{
    position:absolute;
    padding-top:19px;
    margin:297px 0 0 85px;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    height:60px;
    width:125px;
    word-break:hyphenate;
  }
  #menu4 a{text-decoration:none;color:black;}
  #menu4 a:hover{color:grey;}
  #menu5{
    position:absolute;
    padding-top:19px;
    margin:297px 0 0 221px;
    font-size:18px;
    font-weight:bold;
    text-align:center;
    height:60px;
    width:125px;
    word-break:hyphenate;
  }
  #menu5 a{text-decoration:none;color:black;}
  #menu5 a:hover{color:grey;}
/* ]]> */
</style>

<div class="main-box">
  <div id="index_menu">
    <div id="menu1">
      <%= link_to t('Home'), root_path %>
    </div>
    <div id="menu2">
      <%= link_to t('About'), about_path %>
    </div>
    <div id="menu3">
      <%= link_to t('Our equipment'), equipment_path %>
    </div>
    <div id="menu4">
      <%= link_to t('Services'), services_path %>
    </div>
    <div id="menu5">
      <%= link_to t('Contacts'), contacts_path %>
    </div>
  </div>
</div>

