<div class="page-header">
  <h3><%= @post.title %></h3>
</div>
<p><%= @post.content %></p>
<div class="row">
  <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="<%= asset_path 'slide1.jpg' %>" alt="100%x180" src="<%= asset_path 'slide1.jpg' %>" style="height: 180px; width: 100%; display: block;">
    </a>
  </div>
  <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="<%= asset_path 'slide2.jpg' %>" alt="100%x180" src="<%= asset_path 'slide2.jpg' %>" style="height: 180px; width: 100%; display: block;">
    </a>
  </div>
  <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="<%= asset_path 'slide3.jpg' %>" alt="100%x180" src="<%= asset_path 'slide3.jpg' %>" style="height: 180px; width: 100%; display: block;">
    </a>
  </div>
  <div class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img data-src="<%= asset_path 'slide1.jpg' %>" alt="100%x180" src="<%= asset_path 'slide1.jpg' %>" style="height: 180px; width: 100%; display: block;">
    </a>
  </div>
</div>
