<div id="clients-flexslider" class="flexslider home clients">
  <div class="headline"><h3><%= t('main_page.our_clients') %></h3></div>
  <ul class="slides">
    <% Client.all.each do |client| %>
      <li>
        <a href="<%= client.url %>">
          <%= image_tag client.avatar.url(:thumb) %>
          <%= image_tag client.avatar.url(:thumb), class: "color-img" %>
        </a>
      </li>
    <% end %>
    <% Client.all.each do |client| %>
      <li>
        <a href="<%= client.url %>">
          <%= image_tag client.avatar.url(:thumb) %>
          <%= image_tag client.avatar.url(:thumb), class: "color-img" %>
        </a>
      </li>
    <% end %>
  </ul>
</div><!--/flexslider-->
