<!DOCTYPE html>
<html>
<head>
  <title>NCCM GRUP</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/headers/header1.css">
  <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="assets/css/style_responsive.css">
  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
  <%= yield :plugins %>
  <!-- CSS Theme -->
  <link rel="stylesheet" href="assets/css/themes/blue.css" id="style_color">
  <link rel="stylesheet" href="assets/css/themes/headers/header1-blue.css" id="style_color">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--=== Top ===-->
<!-- render login menu, language bar -->
<div class="top">
  <%#= render 'layouts/top' %>
</div><!--/top-->
<!--=== End Top ===-->

<!--=== Header ===-->
<div class="header">
    <div class="container">
        <!-- Logo -->
        <div class="logo">
            <a href="/"><h2><b>NCCM GRUP</b></h2></a>
        </div>
        <!-- Menu -->
        <%= render 'layouts/navbar' %>
    </div><!-- /container -->
</div><!--/header -->
<!--=== End Header ===-->
 <%= yield %>
<!--=== Footer ===-->
<div class="footer">
<%= render 'layouts/footer' %>
</div><!--/footer-->
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
  <div class="container">
    <div class="row-fluid">
      <div class="span8">
              <p>2013 &copy; NCCM GRUP. Toate drepturile rezervate. <a href="#">Politica de confidențialitate</a> | <a href="#">Condiții de utilizare</a></p>
      </div>
      <div class="span4">
        <a href="index.html"><h2><b>NCCM GRUP</b></h2></a>
      </div>
    </div><!--/row-fluid-->
  </div><!--/container-->
</div><!--/copyright-->
<!--=== End Copyright ===-->

<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
<% if @contact_page %>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="assets/plugins/gmap/gmap.js"></script>
<script type="text/javascript" src="/assets/js/pages/contact.js"></script>
<% end %>
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/pages/index.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
        Index.initParallaxSlider();
        <% if @contact_page %>
          Contact.initMap();
        <% end %>
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/js/respond.js"></script>
<![endif]-->
<% if Rails.env.production? %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22384683-5', 'nccm.md');
  ga('send', 'pageview');

</script>
<% end %>
</body>
</html>
